<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Favourite Contacts
          </h1>
          </div>
          </div>
        </div>
  <title>Phone Book App</title>
</head>
<style>
.btn-primary{
  width:100%;

}

</style>

<body><br><br>
<center>
  
        <a class="btn btn-primary btn-lg" href="/rohith" role="button"  ><h3>
            rohit</h3></a><br><br>
        <a class="btn btn-primary " href="/reddy" role="button"><h3>
            reddy</h3></a><br><br>

        <a class="btn btn-primary btn-lg" href="/kris" role="button"><h3>
            kris</h3></a><br><br>
        <a class="btn btn-primary btn-lg" href="/haari" role="button"><h3>
            haari</h3></a><br><br>
        <a class="button rohith" href="/phonebook" role="button"><h3>
            All Contacts</h3></a>
    

</center>


 
</body>
</html>